<!DOCTYPE html>
<html>

<head>
  <title>Uusi resepti</title>
</head>

<body>
    <h1>Uusi resepti</h1>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" />
    </p>
    <p>
        Ainesosat: <br />
        <textarea name="ingredients" rows="10" cols="60"></textarea>
    </p>
    <p>
        Ohje: <br />
        <textarea name="instructions" rows="10" cols="60"></textarea>
    </p>
    <input type="submit" value="Luo resepti" />
  </form>
</body>

</html>